* {
  outline: 0;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none !important; }

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input[type='text'], input[type='password'], textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

input[type='submit'] {
  background: #337ab7;
  padding: 6px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #204d74;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: 0.3s all;
  cursor: pointer; }
  input[type='submit']:hover {
    background: #285f8f; }

input[type="radio"] {
  display: none; }

label {
  margin-bottom: 0; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #2d3e50; }

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa; }

::-webkit-scrollbar-track {
  background-color: #2d3e50; }

button:active, button:focus, button:hover {
  outline: none !important;
  box-shadow: none !important; }

p {
  margin: 0; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
.main {
  padding-top: 20px;
  padding-bottom: 20px; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-weight: 400;
  background: #2d3e50;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  color: #34485b; }

.content {
  flex: 1 0 auto; }

.footer-wrapper {
  flex: 0 0 auto; }

.box {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px; }
  .box-title {
    background: #4aa4cf;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.72);
    font-size: 16px;
    color: #fff;
    text-align: center; }
    .box-title a {
      display: block;
      color: black;
      font-weight: 700;
      font-size: 18px;
      text-decoration: underline !important; }
  .box-footer {
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #bec6cd;
    background: #4aa4cf;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    transition: 0.3s all; }
    .box-footer:hover {
      transition: 0.3s all;
      color: #fff;
      background: #449acb; }
  .box-content {
    border-radius: 5px;
    padding: 15px; }
  .box-buttons {
    display: flex;
    justify-content: space-between; }
    .box-buttons a, .box-buttons input {
      background: #337ab7;
      width: 48%;
      padding: 6px 0;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      border: 1px solid #204d74;
      border-radius: 4px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      color: #fff;
      transition: 0.3s all;
      cursor: pointer; }
      .box-buttons a:hover, .box-buttons input:hover {
        background: #285f8f; }

.box-purple .box-title {
  background-image: -webkit-linear-gradient(top, #827aaa 0%, #7f77a8 100%); }

.input {
  display: flex;
  margin-bottom: 15px; }
  .input-img {
    padding: 6px 12px;
    font-weight: 400;
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .input-img img {
      width: 12px; }
  .input input {
    width: 100%;
    border-radius: 0 4px 4px 0;
    transform: translateX(-3px); }

.header-wrapper {
  background: url("../img/header/bg.png") no-repeat center;
  background-size: cover;
  padding-bottom: 15px;
  padding-top: 35px; }
.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }
.header-bottom {
  display: flex;
  align-items: center;
  background: url("../img/header/menu-bg.png") #6ba1cb repeat-x;
  border: 1px solid #15181c; }
  .header-bottom__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
    transition: 0.3s all; }
    .header-bottom__item:hover {
      background: #7ebf3d;
      transition: 0.3s all; }
    .header-bottom__item:after {
      content: url("../img/header/border.png");
      position: absolute;
      top: 0;
      right: -5px; }
    .header-bottom__item:last-child:after {
      display: none; }
    .header-bottom__item img {
      width: 16px;
      margin-right: 5px; }
    .header-bottom__item span {
      color: #fff;
      font-size: 16px; }

.stats-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px; }
  .stats-item__blue {
    background-color: #5bc0de;
    padding: 3px 6px;
    color: #fff;
    border-radius: 5px; }
    .stats-item__blue svg {
      fill: #fff;
      width: 8px;
      height: 14px;
      transform: translateY(2px); }
  .stats-item_special {
    display: block;
    text-align: center;
    font-size: 15px; }

.paySystems {
  margin-bottom: 20px; }
  .paySystems__content a {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }

.welcome-content {
  background: #e8eaeb; }
.welcome-vid {
  background: #161d28;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  padding: 15px 0; }
  .welcome-vid img {
    width: 70%; }
  .welcome-vid__vid {
    position: absolute;
    left: 50%;
    top: 43.5%;
    transform: translateY(-50%) translateX(-50%); }
    .welcome-vid__vid iframe {
      width: 475px;
      height: 280px; }
.welcome-calculator {
  background: url("../img/welcome/calc-bg-cen.jpg");
  padding: 10px; }
.welcome-calc {
  padding-left: 15px;
  padding-right: 15px;
  background: url("../img/welcome/calc-bg.jpg");
  text-align: center;
  color: #fff; }
  .welcome-calc__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 45px; }
    .welcome-calc__left img {
      margin-bottom: 20px; }
    .welcome-calc__left select {
      border-radius: 4px;
      text-transform: uppercase;
      border: 1px solid #ccc;
      padding: 10px 5px; }
  .welcome-calc ul {
    list-style: none; }
  .welcome-calc__up {
    display: flex;
    margin-bottom: 5px; }
    .welcome-calc__up label {
      margin: 0 auto;
      width: 40%;
      background: #374646;
      font-weight: 100;
      font-size: 14px;
      display: flex;
      align-items: center;
      padding-left: 10px; }
      .welcome-calc__up label svg {
        width: 18px;
        height: 18px;
        fill: #fff; }
    .welcome-calc__up input {
      height: 40px;
      border: none;
      color: #fff;
      border-left: 1px solid black;
      font-size: 20px;
      font-weight: 300;
      padding: 0 10px;
      background: #6d7b7b; }
  .welcome-calc__ul-title {
    display: flex;
    font-size: 16px; }
    .welcome-calc__ul-title li:nth-child(1) {
      width: 20%; }
    .welcome-calc__ul-title li:nth-child(2) {
      width: 30%; }
    .welcome-calc__ul-title li:nth-child(3) {
      width: 50%; }
  .welcome-calc__ul-main {
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px; }
  .welcome-calc__ul-main {
    display: flex;
    width: 100%; }
    .welcome-calc__ul-main ul {
      width: 100%; }
    .welcome-calc__ul-main li {
      display: flex;
      width: 100%;
      font-size: 14px;
      padding-top: 3px;
      padding-bottom: 3px; }
      .welcome-calc__ul-main li:nth-child(2n+1) {
        background-color: rgba(22, 116, 191, 0.2); }
      .welcome-calc__ul-main li span:nth-child(1) {
        width: 20%; }
      .welcome-calc__ul-main li span:nth-child(2) {
        width: 30%; }
      .welcome-calc__ul-main li span:nth-child(3) {
        width: 50%; }

.about-content {
  background: #fff;
  font-size: 16px; }
  .about-content p {
    margin-bottom: 10px; }

.rules-item {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 14px; }

.rules-title {
  margin-bottom: 10px;
  font-size: 16px; }

.rules-main {
  max-height: 800px;
  overflow-y: auto; }
  .rules-main::-webkit-scrollbar {
    width: 12px;
    background-color: #fff; }
  .rules-main::-webkit-scrollbar-track {
    background-color: #fff; }

.stats-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px; }
.stats-Item {
  text-align: center;
  margin-bottom: 10px; }

.accordion-title {
  color: #ff8823;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 40px; }

.accordion {
  background: #e7e9ea;
  margin-bottom: 20px;
  padding: 10px; }
  .accordion-header {
    padding: 23px 0 22px 20px;
    background-image: url("../img/welcome/calc-bg.jpg");
    cursor: pointer;
    position: relative; }
    .accordion-header:before {
      content: "";
      position: absolute;
      display: block;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 42px;
      height: 42px;
      background: url("../img/faq/acord-plus.png") no-repeat center; }
    .accordion-header__title {
      color: #ff9427;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500; }
  .accordion-main {
    padding: 10px; }

.accordion-header.open:before {
  background: url("../img/faq/acord-min.png") no-repeat center; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-wrapper {
    background: #161d28;
    padding-top: 15px;
    padding-bottom: 15px; }
  .footer img {
    width: 100px; }
  .footer-img {
    width: 160px !important; }
  .footer svg {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    transition: 0.3s all;
    fill: #ffffff; }
    .footer svg:hover {
      transition: 0.3s all;
      fill: #8c8c8c; }
  .footer span {
    font-size: 20px;
    color: #fff; }

.user-date {
  margin-bottom: 10px; }
.user-header__item {
  padding: 15px;
  border-top: 1px solid #ddd;
  display: block;
  transition: 0.3s all; }
  .user-header__item:hover {
    transition: 0.3s all;
    background: #efefef; }
  .user-header__item span {
    margin-left: 5px;
    color: #555;
    font-size: 15px; }
  .user-header__item img {
    width: 32px;
    height: 32px; }
.user-content {
  padding: 0; }
.user-balance {
  font-size: 25px;
  font-weight: bold;
  color: green;
  text-shadow: 1px 1px 1px black;
  text-align: center; }
  .user-balance svg {
    width: 18px;
    height: 18px;
    transform: translateY(1px); }
.user-table {
  width: 100%; }
  .user-table table {
    width: 100%; }
  .user-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; }
    .user-table td svg {
      transform: translateY(3px); }
  .user-table__avatar img {
    max-width: 150px;
    max-height: 150px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px #da8104; }
  .user-table__deposit {
    border: 3px solid #4bb9da;
    color: #4bb9da;
    background: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    max-width: 200px;
    margin: 0 auto; }
    .user-table__deposit span:first-child {
      font-size: 16px;
      font-weight: normal; }
    .user-table__deposit svg {
      width: 18px;
      height: 18px;
      transform: translateX(-5px) translateY(0) !important; }
.user-title {
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px; }
.user-invest__item {
  border: 1px solid #cbcedb;
  cursor: pointer;
  border-radius: 4px;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #203f54;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  margin-bottom: 40px; }
  .user-invest__item-wrapper {
    display: block; }
    .user-invest__item-wrapper input[type="radio"]:checked + .user-invest__item {
      background: #3baeae; }
  .user-invest__item .available svg {
    width: 12px;
    height: 18px;
    transform: translateY(2px); }
  .user-invest__item svg {
    width: 60px;
    height: 50px;
    margin-right: 10px; }
.user-invest form {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .user-invest form input {
    height: 57px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 20px; }
    .user-invest form input::-webkit-input-placeholder {
      color: #333; }
  .user-invest form select {
    height: 57px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 240px;
    padding-left: 20px;
    text-transform: uppercase;
    margin-left: 25px; }
  .user-invest form button {
    background: #3baeae;
    width: 240px;
    height: 57px;
    color: #fff;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 4px;
    margin-left: 25px;
    border: none;
    cursor: pointer;
    transition: 0.3s all; }
    .user-invest form button:hover {
      transition: 0.3s all;
      background: #2e8888; }
.user-invest hr {
  border-top: 1px solid black;
  width: 104%;
  transform: translateX(-2%); }
.user-invest table {
  width: 100%;
  text-align: center; }
  .user-invest table td {
    padding: 7px 0; }
    .user-invest table td svg {
      transform: translateY(3px); }
  .user-invest table thead {
    margin: 0 auto;
    font-size: 20px;
    color: white;
    line-height: 25px;
    background: #292929; }
    .user-invest table thead .status {
      background-color: rgba(52, 93, 52, 0.65); }

.form-bottom {
  display: flex;
  justify-content: center;
  align-items: center; }

.settings-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; }
.settings-tab {
  background: #54BDDC;
  padding: 7px;
  color: #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-decoration: none;
  margin-left: 5px;
  transition: 0.3s all; }
  .settings-tab:first-child {
    margin-left: 0; }
  .settings-tab:hover {
    transition: 0.3s all;
    color: #fff;
    background: #2bacd2; }
.settings-item {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .settings-item input[disabled] {
    cursor: not-allowed;
    background-color: #eee; }
  .settings-item div {
    width: 20%;
    text-align: right; }
  .settings-item input, .settings-item textarea {
    width: 70%;
    margin-left: 30px; }
  .settings-item textarea {
    min-height: 100px;
    resize: none; }
.settings-submit {
  margin: 0 auto;
  display: block; }

.ref-item {
  background: #b9def0;
  padding: 15px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  border-radius: 4px; }
.ref-quantity {
  background: #7f77a8;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  border-radius: 4px; }
.ref-table table {
  width: 100%;
  text-align: center; }
  .ref-table table thead {
    margin: 0 auto;
    font-size: 20px;
    color: white;
    line-height: 25px;
    background: #292929; }
  .ref-table table td {
    padding: 7px 0; }
    .ref-table table td svg {
      fill: #fff;
      transform: translateY(3px); }
.ref-table__title {
  border-radius: 4px 4px 0 0;
  margin-top: 10px; }

.signup-content form {
  width: 70%;
  margin: 0 auto; }
  .signup-content form input[type='submit'] {
    display: block;
    margin: 0 auto; }
.signup-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }
  .signup-item__input {
    margin-left: 30px;
    width: 70%; }
    .signup-item__input span {
      display: block;
      font-size: 14px; }
    .signup-item__input input {
      display: block;
      width: 100%; }
  .signup-item__checkbox input {
    height: auto;
    width: auto;
    display: inline-block;
    margin-right: 10px; }
  .signup-item__checkbox span {
    display: inline-block; }
  .signup-item__checkbox label {
    display: flex;
    align-items: center; }
    .signup-item__checkbox label a {
      text-decoration: none; }
      .signup-item__checkbox label a:hover {
        color: #007BFF; }
.signup-text {
  width: 200px;
  padding-top: 14px;
  text-align: right; }

.forgot-content form {
  margin: 0 auto;
  width: 70%; }
.forgot-title {
  text-align: center;
  color: #fff;
  background-color: #337ab7;
  font-weight: bold;
  font-size: 22px;
  width: 70%;
  margin: 0 auto 20px; }
.forgot-text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .forgot-text span {
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px; }
  .forgot-text input {
    width: 60%;
    border-radius: 0 4px 4px 0; }
.forgot-submit {
  display: block;
  margin: 20px auto 0; }

.captcha {
  margin: 0 auto;
  width: 304px;
  height: 74px;
  background: #000; }
